@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

$cynergie : linear-gradient(to right, #1f8b31, #064d21); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */





@import "../node_modules/bulma/bulma";

.form-width {
  padding-left: 400px;
  padding-right: 400px;
}

.mongrad {

  background: $cynergie;

}
.Copyleft{

  display: inline-block;
  text-align: right;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: “FlipH”;

}
#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}
#container2 {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}
#container3 {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}


